body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #180835;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  height: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 70%;
  height: 540px;
  background: #12c2e9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.left-container {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  flex: 1;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  padding: 10px;
  margin: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 button {
  border: 1px solid #eaecf0;
  border-radius: 8px;
  width: 100%;
  height: 15%;
  margin-bottom: 5px;
}

 button a {
  text-decoration: none;
  color: black;
}
.social{
  list-style: none;
  padding-bottom: 8px;
}

a:focus {
  outline: 2px solid #005fcc;
  outline-offset: 3px;
}

/* Right Container */
.right-container {
  background: #000000;
  background: -webkit-linear-gradient(to left, #434343, #000000);
  background: linear-gradient(to left, #434343, #000000);
  flex: 1;
  max-width: 70%;
  height: 90%;
  padding: 10px;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bio {
  width: 80%;
  text-align: justify;
  margin: auto;
  line-height: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bottom-right-cont {
  width: 80%;
  height: 40%;
  margin: auto;

}

.row {
  width: 100%;
  height: 20%;

}

.row>span {
  margin-right: 10px;
}

.location,
.email,
.C-time {
  width: 50%;
  background-color: blue;
}

span {
  color: white;
  width: 50%;
}

li,
h5 {
  color: white;
}

h5 {
  padding-left: 50px;
}

@media only screen and (max-width: 920px) {
  .card {
    flex-direction: column;
    margin: 10px;
    height: 100%;
    width: 90%;
  }

  .right-container {
    height: auto;
  }

  .left-container {
    flex: 1;
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    margin: 10px;
  }

  .left-container {
    flex: 1;
    max-width: 100%;
  }
}

img {
  width: 200px;
  height: 200px;
  max-width: 200px;

  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
}

.gradienttext,
.email,
.location,
.C-time {
  background-image: linear-gradient(to right, #ee00ff 0%, #fbff00 100%);
  color: transparent;
  -webkit-background-clip: text;
}

h4 {
  font-size: 18px;
  margin-bottom: 20px;
  color: aliceblue
}

p {
  font-size: 18px;
  margin-bottom: 5px;
  color: aliceblue
}


.credit {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}